@import "./variables";

.container {
  padding: 0 12px;
  margin: 0 auto;
  max-width: 1200px;
}

.container-products {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1238px;
}

nav {
  display: flex;
}

a,
a:visited {
  color: $white;
}