@import "./variables";

.bnt-trial {
  background-color: #c5201b;
  border-radius: 20px;
  padding: 6px 16px;
}

.btn-products-type {
  padding: 10px 16px;
}

.active {
  background-color: $red;
}

.btn-filter {
  background-color: $filter-bg;
  padding: 8px 16px;
}

.btn-login {
  flex-direction: row-reverse;
}