// colors
$black: #000;
$black-bg-opacity: rgb(0, 0, 0, 0.7);
$white: #fff;
$red: #c5201b;
$red-bg: #cb271b;
$red-bg-opasity: rgba(203, 39, 27, 0.7);
$filter-bg: #1a191a;
$page-bg: #0b0b0b;


// fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;