.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

img[alt="logo"] {
  cursor: pointer;
}

.btn-group-left {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media screen and (max-width:980px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-group {
    width: auto;
  }
}

@media screen and (max-width:700px) {
  .btn-group {
    flex-direction: column;
  }
}

@media screen and (max-width:440px) {
  .btn-group-left {
    flex-direction: column;
  }
}