<header>
  <div class="container">
    <img src="{{headerMock.logo}}" alt="{{headerMock.logoAlt}}" routerLink="/">
    <div class="group">
      <nav >
        <ng-container *ngFor="let btn of headerMock.firstBtnGroup">
          <app-button *ngIf="displayButton(btn)"
          [title]="btn.title"
          [btnClass]="btn.type"
          [icon]="btn.icon"
          [iconAlt]="btn.iconAlt"
          [url]="btn.url">
        </app-button>
      </ng-container>
      </nav>
      <div class="left">
        <app-button *ngFor="let btn of headerMock.secondBtnGroup"
        [title]="btn.title"
        [btnClass]="btn.type"
        [icon]="btn.icon"
        [iconAlt]="btn.iconAlt"
        [url]="btn.url">
      </app-button>
    </div>
    </div>
  </div>
</header>