<div class="card-wrapper" [style.width]="width" [style.height]="height">
  <ng-container *ngIf="cartType == 'large' else smallCart">
    <img src="{{img}}" alt="{{alt}}" [style.width]="width" [style.height]="height">
    <div class="card__title">
      <span class="roboto-semibold">{{title}}</span>
    </div>
    <div class="overlay"></div>
  </ng-container>
</div>

<ng-template #smallCart>
  <div class="card">
    <img src="{{img}}" alt="{{alt}}" [style.width]="width" [style.height]="height">
    <div class="card__title-small">
      <span class="roboto-semibold">{{title}}</span>
      <div class="card__content">
        <div class="card__content__release">
          <img src="../../../assets/icon-calendar.png" alt="calendar-icon">
          {{releaseYear}}
        </div>
        <div class="card__content__description">
          {{description}}
        </div>
      </div>
    </div>
  </div>
</ng-template>