@import '../../styles/variables';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2rem 0;

  &__btn-group {
    display: flex;
    gap: 10px;
  }

  &__btn-page-items {
    padding: 0.3rem 0.7rem;
    border-radius: 20px;
    background-color: $red-btn-pagination;
  }

  &__bnt-prev img {
    transform: rotate(180deg);
  }

  &__bnt-prev,
  &__bnt-next {
    img {
      width: 24px;
      height: 16px;
    }
  }
}