@import '../../styles/variables';

.filters-wrapper {
  background-color: $red-bg;
  padding: 0.7rem 0;
}

.container {
  display: flex;
  gap: 16px;
}

.input-container {
  padding: 8px 12px 8px 10px;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  gap: 12px;
  width: 100%;

  img {
    width: 24px;
  }

  .montserrat {
    font-size: 18px;
    font-weight: 600;
  }
}

input[type="search"] {
  background-color: #ffffff;
  width: 100%;
  color: #000;
}

// input[type="search"]:focus {
//   outline: none;
//   box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.7);
// }

.year-calendar select {
  padding: 5px;
  font-size: 16px;
}

/////////
.year-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

button {
  margin: 0 10px;
}