@import '../../styles/variables';

.filters-wrapper {
  background-color: $red-bg;
  padding: 0.7rem 0;

  .container {
    display: flex;
    gap: 16px;
  }

  .input-container {
    padding: 8px 12px 8px 10px;
    border-radius: 30px;
    background-color: #ffffff;
    display: flex;
    gap: 12px;
    width: 100%;

    img {
      width: 24px;
    }

    .montserrat {
      font-size: 18px;
      font-weight: 600;
    }
  }

  input[type="search"] {
    background-color: #ffffff;
    width: 100%;
    color: #000;
  }
}